# === Environnement Python ===
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
build/
dist/
*.spec

# === Packaging Python ===
*.egg-info/
*.egg
.eggs/

# === Outils de développement ===
.idea/
*.iws
out/
repomix-output.xml

# === Configuration et Secrets ===
config/.env.dev
secrets.json
config.yaml
auth_tokens/
*.pem
*.key

# === Données et Modèles (On ignore le CONTENU, on garde la STRUCTURE) ===
# Note : L'étoile /* est obligatoire pour que Git puisse voir les .gitkeep
data/raw/*
data/processed/*
data/models/*
data/outputs/*
data/cache/*
data/requests/*
data/decisions/*

# Sécurité : on ignore les fichiers de données par extension
*.csv
*.xlsx
*.json
*.parquet
#*.joblib
*.pkl
*.bst
*.h5
*.txt
!patterns_config.json

# === Logs et CI ===
logs/
*.log
.pytest_cache/
htmlcov/
.coverage

# === Doc et Tests ===
doc/
apitest.py

# === EXCEPTIONS POUR GARDER LA STRUCTURE (Indispensable pour Docker) ===
# On autorise Git à suivre les fichiers .gitkeep partout
!**/.gitkeep

# On autorise les dossiers eux-mêmes pour que Git puisse y entrer
!data/raw/**/
!data/processed/**/
!data/models/**/
!data/outputs/**/
!data/cache/**/
!data/requests/**/
!data/decisions/**/